@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");
body {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
}
h2 {
  font-size: 48px;
}
.vertical-centered-images {
  margin-top: 10px;
}
.inactive{
    color: black;
    text-decoration: none;
}
.inactive:hover{
    color: black;
    cursor: default;
}
.whole-page {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.search-field {
  max-width: 600px;
  margin: 10px auto;
}
.search-and-city-name {
  position: sticky;
  top: 2px;
  background-color: white;
}

.weather-today {
  margin-bottom: 50px;
}
.city-name {
  font-size: 70px;
  text-align: center;
  border-bottom: 3px solid #656565;
  padding-bottom: 4px;
}
.vertical-centered {
  display: table-cell;
  vertical-align: middle;
}

a{
    text-decoration: none;
}
.sun-or-clouds-image {
  display: inline;
  width: 100%;
}
.centered {
  padding: 0;
  display: table;
  text-align: center;
}
.image-for-the-next-days {
    max-width: 130%;
}
.day-name {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
.nameCentered{
  display: block;
  margin: auto;
}
.next-day {
  border: 3px solid #656565;
  padding: 10px 5px 10px 5px;
}
.preciration-next-day {
  text-align: center;
  font-size: 14px;
}
.temperatur-next-day {
  font-size: 31px;
}
.weather-the-next-days {
  margin-bottom: 15px;
}
.image-for-next-moon{
  width: 90%;
}
@media (max-width: 484px){
  .preciration-next-day {
    text-align: center;
    font-size: 9.3px;
  }
  .city-name {
    font-size: 55px;
  }
  .text-in-search{
    font-size: 5px !important;
  }
  h2 {
    font-size: 33px;
  }
  body{
  background-color: red;
  }
  .preciration {
    font-size: 18px;
  }
  .temperatur-next-day {
    font-size: 19px;
  }
  .image-for-the-next-days {
    max-width: 45px;
  }
}