@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");
body {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
}
h2 {
  font-size: 40px;
}

.whole-page {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.search-field {
  max-width: 600px;
  margin: 10px auto;
}
.search-and-city-name {
  position: sticky;
  top: 2px;
  background-color: white;
}

.weather-today {
  margin-bottom: 50px;
}
.city-name {
  font-size: 70px;
  text-align: center;
  border-bottom: 3px solid #656565;
  padding-bottom: 4px;
}
.vertical-centered {
  display: table-cell;
  vertical-align: middle;
}

.sun-or-clouds-image {
  display: inline;
  max-width: 300px;
  width: auto;
}
.centered {
  padding: 0;
  display: table;
  text-align: center;
}
.image-for-the-next-days {
  max-width: 100px;
}
.day-name {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}
.next-day {
  border: 3px solid #656565;
  padding: 10px 5px 10px 5px;
}
.preciration-next-day {
  text-align: center;
}
.temperatur-next-day {
  font-size: 20px;
}
.weather-the-next-days {
  margin-bottom: 15px;
}
